body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: var(--clr-very-dark-blue);
}
.title {
  &__primary {
    font-size: 3rem 2.5rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
    &_thin {
      font-weight: 200;
    }
  }

  &__item {
    display: block;
  }

  &__secondary {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.paragraph {
  color: var(--clr-grayish-blue);
  &__header {
    font-size: 1.7rem;
  }
}
